/* ==== Font Imports Start  ==== */
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Forum|Muli|Patua+One&display=swap');

/* ==== Font Import Ends ==== */
/* ==== Navbar Section Start  ==== */
#navbar-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    min-height: 7.5vw;
    background-color: aliceblue;
}

.navbar-links {
    font-family: 'Patua One';
    text-decoration: none;
    color: rgb(37, 37, 37);
    margin-right: 5vw;
}

/* ==== Navbar Section End  ==== */
/* ==== Body Section Start  ==== */
h1,
h2,
h3,
h4,
.header {
    font-family: 'Patua One';
}

p,
a,li {
    font-family: 'Muli';
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    transition: all 0.5s;
    color: gray;
}
.text-overview {
    text-align: left;
    width: 80vw;
}

/* ==== Body Section End  ==== */
/* ==== Footer Section Start  ==== */
footer {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background-color: rgb(168, 168, 168);
    width: 100%;
    height: 40vw;
}
#footer-section {
    bottom: 0;
    display: inline-grid;
    grid-column-gap: 25px;
    margin-top: 50px;
    

}
#footer-section-links-grid-1 {
    grid-row-start: 1;
    grid-row-end: 3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-decoration: none;
   
}
#bottom-footer-links-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}
.bottom-footer-links {
    
}
/* ==== Footer Section End  ==== */